<p style="background-color: #528CE0">blog/index.hbs</p>
<h1>List</h1>
{{model.id}}
{{#each model as |post|}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{post.name}}</h3>
        </div>
    </div>
{{/each}}
<p>post</p>
<p>salam from blog erkin</p>

