<p style="background-color: #666600">blog/post.hbs</p>
<h1>List</h1>
{{model.name}}
{{#each model as |post|}}
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{{post.name}}</h3>

</div>
</div>
{{/each}}
<p>posts</p>
