<p style="background-color: #528CE0">blog.hbs</p>
<h1>List</h1>
{{model.id}}
{{#each model as |post|}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{post.name}}</h3>
        </div>
    </div>
{{/each}}
<p>post</p>
<p>salam from blog erkin</p>
<div class="collapse navbar-collapse" >
<ul class="nav navbar-nav">
{{#link-to 'blog.new' tagName='li'}}<a href>add new post</a>{{/link-to}}
    {{#link-to 'blog.list' tagName='li'}}<a href>list all posts</a>{{/link-to}}

</ul></div>
{{outlet}}